.bg{position: absolute;text-align: center;overflow: hidden}
img{width:50%;height:100%;position: absolute;margin-left:-25%;animation: loading 5s linear 2s infinite alternate;}

.box{width:65%;height:75%;margin-left:17.5%;margin-top:75px;background-color: rgba(0,0,0,0.03);position: absolute;;z-index:1;border-radius:10px;animation:come 1.5s linear;}
.part{width:15%;height:85px;float:left;background-color: white;position:absolute;z-index: 2;border-radius:8px;box-shadow:5px 5px 23px rgba(0,0,0,0.07);animation: see 1.5s linear;}
#part1{margin-left:30%;margin-top:240px;}
#part2{margin-left:55%;margin-top:240px;}
.part p{animation: fro 1.5s linear;}

p{font-size:23px;text-align: center;vertical-align: middle;margin-top:15%}

.part:hover{transform:translateX(-2px) translateY(-2px) ;transition:all 0.15s linear 0s;background-color:#c1dfe6;color:rgb(72, 71, 112)}

@keyframes loading{
0%{transform: scale(1)}
35%{transform: scale(0.94)}
100%{transform: scale(0.98)}
}
@keyframes come{
    0%{transform: translateY(100%);opacity: 0}
    5%{transform: translateY(25%);opacity: 0.03}
    100%{transform: translateY(0)}
}
@keyframes see{
    0%{opacity:0.3;width:0;}
    5%{opacity: 0.4;}
    100%{opacity:1;width:15%;}
}
@keyframes fro{
    0%{opacity: 0}
    5%{opacity: 0}
    50%{opacity: 0}
    100%{opacity: 1}
}